<h3>Welcome to routing project</h3>
<div>
    <span>
        <!-- dont use href but use routerLink
        routerLink="/1" also works
        [routerLink]='["/1"]' is used better if we have to give external parameters as well
        routerLinkActive="Isactive" means Isactive class will be applied whenever link is clicked -->
        <!-- <a [routerLink]='["/1"]' routerLinkActive="Isactive" class="button">
            Component One
        </a> -->
        <!-- the commented one above also works completely fine -->
        <a routerLink='/1' routerLinkActive="Isactive" class="button">
            Component One
        </a>
    </span>
    <span>
        <!-- to give query params use [queryParams]="{key: value}" -->
        <a [routerLink]='["/2"]' routerLinkActive="Isactive" class="button">
            Component Two
        </a>
    </span>
</div>

<router-outlet></router-outlet>